
    * {
      font-family: DM Sans;
    }

    :root {
      --bigtitlesize: 3.5rem;
      --mediumtitlesize: 2.25rem;
      --smallertitlesize: 1.8rem;
    }
    
    body {
      margin: 0;
      padding: 0;
      background-color: hsl(0, 0%, 97%);
    }

    .grid {
      display: grid;
      grid-template-columns: minmax(0,1fr) minmax(0,1fr) minmax(0,1fr) minmax(0,1fr);
      grid-template-rows: auto auto auto;
      gap: 1.75rem;
      padding: 5% 11%;
    }

    /* cards */

    .card {
      border-radius: 0.75rem;
      padding: 1.5rem;
      overflow: hidden;
    }

    .one {
      grid-column: 2 / span 2;
      grid-row: 1;
      text-align: center;
      color: hsl(0, 0%, 100%);
      background-color: hsl(256, 67%, 59%);
    }

    .two {
      grid-column: 2;
      grid-row: 2;
      padding: 1.5rem 0 1.5rem 0;
      background-color: hsl(0, 0%, 100%);
    }

    .three {
      grid-column: 3;
      grid-row: 2;
      padding: 1.5rem 1.5rem 0 1.5rem;
      background-color: hsl(39, 100%, 71%);
    }

    .four {
      grid-column: 4;
      grid-row: 1 / span 2;
      padding: 1.5rem 0 1.5rem 1.5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: hsl(254, 88%, 90%);
    }

    .five {
      grid-column: 3 / span 2;
      grid-row: 3;
      display: flex;
      flex-direction: row;
      align-items: center;
      color: hsl(0, 0%, 100%);
      background-color: hsl(256, 67%, 59%);
    }

    .six {
      grid-column: 2;
      grid-row: 3;
      background-color: hsl(0, 0%, 100%)
    }

    .column-first {
      grid-column: 1;
      grid-row: 1 / span 3;
      display: grid;
      grid-template-columns: minmax(0,1fr);
      grid-template-rows: minmax(0,1fr) minmax(0,1fr);
      gap: 1.75rem;
    }

    .seven {
      grid-row: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: hsl(31, 66%, 93%);
    }

    .eight {
      grid-row: 2;
      display: flex;
      flex-direction: column;
      padding: 1.5rem 0 0 1.5rem;
      background-color: hsl(39, 100%, 71%);
    }

    /* card images */

    .img {
      max-height: 100%;
      max-width: 100%;
      margin: 0;
    }

    .stars {
      max-width: 40%;
    }

    .platform {
      max-height: 130%;
      max-width: 130%;
      margin-left: 16px;
    }

    .schedule {
      margin-top: 1rem;
      margin-bottom: -40%;
    }
    
    .post-timing {
      max-height: 160%;
      max-width: 160%;
      align-self: flex-start;
      object-fit: cover;
    }

    .audience {
      max-width: 85%;
    }

    .followers {
      max-width: 45%;
    }

    .ai {
      object-fit: scale-down;
      margin-right: 0.75rem;
      flex-grow: 1;
    }

    /* titles */

    h1 {
      font-size: var(--bigtitlesize);
      font-weight: 500;
      line-height: 3.5rem;
    }

    h1 i {
      font-size: var(--bigtitlesize);
    }

    .title7, .title8, .title5 {
      font-size: var(--mediumtitlesize);
      font-weight: 600;
      line-height: 2rem;
    }

    .title2, .title3, .title4 {
      font-size: var(--smallertitlesize);
      font-weight: 600;
      line-height: 1.5rem;
    }

    .title1 {
      margin-bottom: 1.5rem;
    }
    
    .title2 {
      margin: 0 1.5rem;
    }

    .title4 {
      margin-top: 0;
    }
        
    .title5 {
      max-width: 55%;
      margin-left: 12px;
    }

    .title3, .title6 {
      margin: 0;
    }

    .title8 {
      margin-top: 0;
      margin-right: 1.5rem;
    }

    span.tenx {
      font-size: var(--bigtitlesize);
      color: hsl(39, 100%, 71%);
    }

    span.quicker {
      font-size: var(--mediumtitlesize);
      font-weight: 600;
      color:hsl(256, 67%, 59%);
      font-style: italic;  
    }

    /* descriptions */

    .desc {
      font-size: 1rem;
      font-weight: 500;
    }

    .stats {
      margin: 1rem 1.5rem 0 0;
    }

    @media screen and (max-width:64em) {

      :root {
        --bigtitlesize: 4rem;
        --mediumtitlesize: 2.25rem;
        --smallertitlesize: 2rem;
      }

      .grid {
        display: flex;
        flex-direction: column;
        padding: 1.5rem;
      }

      .card {
        max-width: 100%;
      }

      .two {
        padding: 1.75rem;
      }

      .four {
        padding: 1.75rem;
        text-align: center;
      }

      .five {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
      }

      .seven {
        align-items: flex-start;
      }

      .eight {
        padding: 1.75rem;
      }

      .column-first {
        display: flex;
        flex-direction: column;
      }

      .stars {
        max-width: 60%;
      }

      .platform {
        max-height: 100%;
        max-width: 100%;
        margin: 0;
      }

      .schedule {
        max-width: 70%;
        margin-top: 1.5rem;
        margin-bottom: -10%;
      }

      .post-timing {
        max-height: 100%;
        max-width: 100%;
        align-self: normal;
        object-fit: cover;
      }
  
      .audience {
        max-width: 70%;
      }
  
      .followers {
        max-width: 70%;
        margin-top: 1rem;
      }

      .create {
        max-width: 70%;
      }

      .ai {
        max-width: 75%;
        object-fit: cover;
        margin-right: 0;
      }

      .title2, .title3, .title4 {
        line-height: 2rem;
      }

      .title2 {
        margin: 0;
      }

      .title4 {
        margin-top: 1rem;
      }

      .title5 {
        max-width: 100%;
        margin: 2rem 0 1rem 0;
      }

      .desc {
        font-size: 1.25rem;
        font-weight: 500;
        margin-top: 1.5rem;
      }
      
    }
    